<!DOCTYPE html>
<html lang="en">
<head>
<title>List</title>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <style>
      th, td {
        padding: 10px
      }
  </style>
</head>
<body>
<div class="container">

<table>
    <tr>
        <th>Roll number</th>
        <th>First name</th>
        <th>Last name</th>
    </tr>
    {% for item in users %}

    <tr> 
        <td>{{ item.roll_no }}</td>
        <td>{{ item.first_name }}</td>
        <td>{{ item.last_name }}</td>
        {% endfor %}
     
    </tr>
    
</table>
</div>
</body>
</html>